// app global css in SCSS form
@import "quasar.variables";

@font-face {
  font-family: inter;
  src: url(./fonts/Inter-Regular.ttf);
}

body {
  font-family: inter, serif !important;
}

.q-layout__shadow:after {
  box-shadow: none;
}

body.body--dark {
  font-family: inter, cursive !important;

  color: white !important;
}
body.body--light {
  font-family: inter, cursive !important;

  color: #344054 !important;
}

.icon-bubble {
  background: #F9FAFB;
  padding: 8px;
  border-radius: 32px;
  line-height: 0;
}
.icon-bubble.active {
  background: #F9F5FF;
  color: var(--q-accent)
}

.tabs-border-rounded {
  box-shadow: 0 1px 5px var(--q-secondary);
  border: 1px solid var(--q-secondary);
  border-radius: 11px;
  font-weight: bolder;
}

.border-right {
  border-right: 2px;
}

//.q-tab--active {
//  background: var(--q-secondary);
//}

.q-tab__label {
  font-weight: bolder;
}

.grocery-list-item {
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  background: #fafaff;
  border: 1px solid #EAECF0;
}

.shared {
  display: flex;
  margin-top: 8px;
}

.shared > .item {
  border: 3px solid white;
  border-radius: 18px;
  margin-left: -8px;
  width: 38px;
  height: 38px;
  color: $accent;
  font-weight: bold;
}

#item-completed {
  color: $accent !important;
}

.plus-btn {
  color: #7F56D9;
  background: #F9F5FF;
  border-radius: 50px
}
.q-field--outlined .q-field__control{
  border-radius: 10px;
}
.q-field--filled .q-field__control:before {
  background: white;
}
.q-field--focused {
  background: white;
}

.q-field--highlighted {
  background: white;
}

.border-rounded {
  border-radius: 10px;
}

.border-rounded-20 {
  border-radius: 10px;
}

.q-dialog__inner > div {
  border-radius: 20px;
}

.q-position-engine {
  border-radius: 20px;
}

.q-btn::before {
  box-shadow: none !important;
}

.item-done {
  background: #F9F5FF !important;
  border: 1px solid #D6BBFB !important;
}

.q-checkbox__bg{
  border-radius: 6px;
  background: white;
  border: 2px solid #D0D5DD !important;
}

.q-checkbox__inner--truthy {
  .q-checkbox__bg {
    border: 2px solid $primary !important;
  }
}

.q-page-sticky--shrink > div {
  display: inline-block;
  pointer-events: auto;
  width: 100%;
}

.title {
  color: #344054;
  font-weight: bold;
  font-size: 1.6em;
}

.q-field--outlined .q-field__control:before {
  border: 1px solid #D0D5DD;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
}

.q-field__bottom {
  padding: 2px 8px 8px;
}
